/* Global */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap");
* {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: #002766;
}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
}
.profile-tab {
  position: absolute;
  top: 22px;
  right: 120px;
  color: white;
  cursor: pointer;
}
/* profile page */
.profile-header {
  text-align: center;
  font-size: 1.5rem !important;
}
.profile-pic {
  margin: 0 auto !important;
  margin-bottom: 1.8rem !important;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

.login-page {
  /* background-image: linear-gradient(#40a9ff, #096dd9) !important; */
  background-color: red !important;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
  width: 18rem;
}

.facebook {
  background-color: #3b5998;
}

.google {
  background-color: #4285f4;
  color: white;
}

.loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

.loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}
.picture-img {
  width: 50%;
  cursor: pointer;
}
.image-send {
  margin-left: 1.1rem;
}
.picture-send {
  width: 64%;
  margin-left: 7px;
}
.picture-smile {
  width: 64%;
  margin-left: 8px;
  cursor: pointer;
}
/* Chat Engine */
/* .ce-my-message-bubble {
  background-color: #b19cd9 !important;
  /* background-color: #5957bc !important; */

.ce-text-input {
  font-family: "Varela Round" !important;
  font-size: 1.3rem !important;
  margin-bottom: 0.7rem;
}
/* .ce-chat-feed-container {
  background-color: purple !important;
  width: 150% !important;
} */
/* .ce-their-message-sender {
  color: white !important;
}  */

/* Message Form */
.form-input {
  width: 150%;
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #f4f4f4;
  background-color: white;
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* margin-top: -5px; */
}
.message-form > * {
  margin-right: 4px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 11px;
  background-color: rgb(240, 240, 240);
}

/* Chat Group */
.chat-group-con {
  display: flex;
}
.chat-group-title {
  color: red !important;
}

/* THEME */

/* ChatList Theme Customization */
.chatList {
  padding: 16px;
  border-right: 1px solid rgb(175, 175, 175);
  height: calc(100vh - 66px);
}
.chatList-color-group {
  display: flex;
  justify-content: space-evenly;
}
.chatList-span {
  float: left;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}
.chakra-radio__label {
  font-family: "Varela Round";
  font-size: 1.3rem !important;
}

.chatList.blue,
.chatList-span.blue {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
}
.chatList.red,
.chatList-span.red {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}
.chatList.green,
.chatList-span.green {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}
.chatList.purple,
.chatList-span.purple {
  background-image: linear-gradient(
    109.6deg,
    rgba(157, 75, 199, 1) 11.2%,
    rgba(119, 81, 204, 1) 83.1%
  );
}
.chatList.brown,
.chatList-span.brown {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(147, 67, 67, 1) 0%,
    rgba(111, 27, 27, 1) 90%
  );
}
.chatList.yellow,
.chatList-span.yellow {
  background-image: radial-gradient(
    circle,
    #ffc75f,
    #ffba61,
    #ffad65,
    #ffa16b,
    #ff9671
  );
}
.chatList.pink,
.chatList-span.pink {
  background-image: radial-gradient(
    circle 685.3px at 47.8% 55.1%,
    rgba(255, 99, 152, 1) 0%,
    rgba(251, 213, 149, 1) 90.1%
  );
}
.chatList.orange,
.chatList-span.orange {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
}
.chatList.dark,
.chatList-span.dark {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  );
}
.chatList.mint,
.chatList-span.mint {
  background-image: linear-gradient(
    to right bottom,
    #009245,
    #50ac3f,
    #86c435,
    #bfda28,
    #fcee21
  );
}
